:host {
  display: block;
  padding-bottom: 3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  position: relative;
  padding: 1rem 2rem;
  margin: 0 2.5rem;
  cursor: pointer;  
  transition: all 0.3s ease-in-out;
  &:hover:not(.selected) {
    .phone_list__item img {
      transform: scale(1.1);
    }
    .phone_list__item-info {
      opacity: 1;
    }
  }
}

.phone_list__item {
  padding: 1rem;
  width: 200px;
  background-color: white;
  position: relative;
  margin: 3rem 0 8rem;
  border-radius: 2px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 1px 1px 10px 0px rgba(156, 156, 156, 1);
  & p:first-of-type {
    width: 70%;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #727272;
  }
  & p:last-of-type {
    display: block;
    width: 70%;
    text-align: right;
    padding-top: 1rem;
    color: #606060;
  }
  & img {
    height: 200px;
    width: auto;
    position: absolute;
    top: -30px;
    right: -45px;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  &.selected:not(:hover) {
    & img {
      transform: scale(1.1);
    }
  }    
  &.selected {
    box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
  }
}

.phone_list__item-info {
  display: block;
  position: absolute;
  font-size: 14px;
  left: 20%;
  z-index: 0;
  top: 60%;
  width: 80%;
  color: #284B63;
  text-transform: capitalize;
  padding-bottom: 0.3rem;
  transition: opacity 0.6s ease-in-out;
  border-bottom: 1px solid #3788bf;
  font-weight: bold;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {}